<div class="jumbotron" style="text-align:center;background: #c6e1f6;padding: 1rem 1rem !important;">
  <h1>Welcome to my blog!</h1>
</div>

<div class="row">
  <% @posts.each do |post| %>
    <div class="col-sm-4" >
      <%= image_tag(post.image) %>
      <h3><%= post.title%></h3> 
      <p><%= truncate(post.content, length: 150)%></p> 
      <%# truncate : dua str ve do dai mong muon %>
      <%= link_to 'Read more', post_path(post) %>
    </div>
  <% end %>
</div>